<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
    <!-- Here is the appearance of the webpage -->
    <div id="form_block">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp">
          <!-- <label id="" hidden>Email is not correct, please enter a valid email address</label> -->
          <small id="user_does_not_exist" class="form-text text-muted" hidden>The user is not exist, please check your email address or register first.</small>
          <small id="wrong_password" class="form-text text-muted" hidden>Incorrect password, please try again.</small>
          <small id="invalid_email" class="form-text text-muted" hidden>Invalid email address.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password_input">
        </div>
        <button id="login_button" class="btn btn-primary">Log in</button>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!--script src="{{ url_for('static', filename='js/register.js') }}"></script-->
    <script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>
    </body>
</html>
