{% extends "alpha/base.html" %}

{% set title = "Alpha" %}

{#% set stylesheets = (url_for('static', filename='css/alpha/index.css'),) %#}

{% block alpha_center %}
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
    <p>This is content specific to alpha index page.</p>
{% endblock %}

{#% set scripts = (url_for('static', filename='js/alpha/index.js'),) %#}