#alpha_top {
    background-color: white;
    border: 1px solid black;
    color: black
}

#alpha_left {
    background-color: white;
    border: 1px solid black;
    color: black
}

#alpha_right {
    background-color: white;
    border: 1px solid black;
    color: black
}

#alpha_bottom {
    background-color: white;
    border: 1px solid black;
    color: black
}